 body {
      height: 100vh;
      background: linear-gradient(135deg, #0d6efd,#6610f2); 
      display: flex;
      align-items: center;
      justify-content: center;
      overflow:hidden;
    }

    .login-card {
      width: 380px;
      border-radius: 25px;
      background: white;
      border: none;
      padding: 20px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 2);
      transition: 0.4s;
    }
    .login-card:hover{
    transform:translateY(-6px);
   }

   .form-control{
    border-radius: 12px;
    padding: 12px;
   }

    .form-control:focus {
      box-shadow: none;
      border:2px solid #0d6efd;
    }

    .btn-primary {
      transition: 0.3s;
      border-radius: 30px;
      padding: 12px;
      font-weight: bold;
    }

    .signup-link {
      text-decoration: none;
      font-weight: bold;
    }

    .signup-link:hover {
      color: #6610f2;
    }
    .input-group-text{
    background:white;
    border-radius:0 12px 12px 0;
}
.alert{
  border-radius:12px;
}
h3{
    font-weight:bold;
    color:#0d6efd;
}