body {
  background-color: lightgray;
}

.product-card {
  border-radius: 15px;
  box-shadow: 0px 4px 10px gray;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.btn-primary {
  background-color: blue;
  border: none;
}

.btn-primary:hover {
  background-color: darkblue;
}

h2 {
  color: black;
}
