
    .signup-card {
      max-width: 480px;
      margin: auto;
      margin-top: 90px;
      border-radius: 20px;
      border: none;
      overflow: hidden;
      box-shadow: 0 10px 25px gray;
      transition: 0.3s;
    }

    .signup-card .card-header {
       background: linear-gradient(45deg, royalblue, purple);
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 1.3rem;
      padding: 18px;
    }
    .form-label{
      font-weight: 600;
    }
    .form-control{
      border-radius: 12px;
      padding: 10px;
    }
    .input-group-text{
      border-radius: 12px;
    }

    .form-control:focus {
      box-shadow: none;
      border-color: #0d6efd;
    }

    .btn-primary {
  width: 100%;
  border: none;
  border-radius: 35px;
  padding: 10px;
  font-weight: bold;
  background: linear-gradient(45deg, royalblue, purple);
}
    body {
  min-height: 100vh;
  background: linear-gradient(135deg, royalblue, purple);
}
.card-body a {
  color: royalblue;
  font-weight: bold;
  text-decoration: none;
}

.card-body a:hover {
  text-decoration: underline;
}
