  body {
      background-color: whitesmoke;
    }

    .navbar-brand {
      font-weight: bold;
      font-size: 1.4rem;
      letter-spacing: 1px;
    }
    .nav-link.active {
  color:royalblue !important;
  font-weight: bold;
}

    .nav-link {
      transition: 0.3s;
    }

    .nav-link:hover {
      color: royalblue !important;
    }

    .hero-section {
      text-align: center;
      padding: 120px 20px;
      color: white;
      background: linear-gradient(135deg, #0d6efd, #6610f2)!important;
}

    .hero-section h1 {
    font-size: 48px;
    font-weight: 800;
}
    
  .nav-icon {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-icon:hover {
  color: royalblue; 
}
.hero-section p {
  font-size: 20px;
}

.card img {
  height: 220px;
  object-fit: cover;
}

footer {
  font-size: 14px;
}
.btn{
  border-radius: 30px;
  padding: 10px 24px;
  font-weight: 600;
}
.card {
  border: none;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
.card-title {
  font-weight: bold;
}
.bg-light .border {
  border: none !important;
  border-radius: 18px !important;
  transition: 0.3s;
}

.bg-light .border:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.12);
}
